.CompanyDetail-main-container-company {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CompanyDetail-container-fluid {
  width: 70%;
}
.CompanyDetail-img-fluid {
  padding: 10px;
}

.CompanyDetail-container-subheader .CompanyDetail-certificate-container {
  padding: 10px;
  background-color: #f8f8f8;
  margin: auto;
}
.CompanyDetail-container-header h4 {
  padding: 15px 0;
}
.CompanyDetail-container-header div h2 {
  color: #3991c5;
  font-weight: bold;
}
.CompanyDetail-container-header div h4 {
  color: #484848d8;
  font-weight: bold;
}
.CompanyDetail-container-subheader h2 {
  padding: 15px 0px;
}

@media (max-width: 900px) {
  .CompanyDetail-container-fluid {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .CompanyDetail-container-fluid {
    width: 90%;
    text-align: center;
  }
}
