.about-content-0 {
    margin-bottom: 4%;
}

.creactive-env-img-body{
    border-radius: 8px;
    padding: 30px;
}

.creative-env-img {
    max-width: 100%;
    height: auto;
}

.content-2{
    font-weight: 700;
    color: #49575f;
    font-size: 12px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content-3{
    color: #183d72;
    line-height: 1.2;
    font-weight: 600
}
.underline{
    border: 4px double #183d72;
    width: 17%;
    margin-bottom: 30px;
}

.content-4{
    color: #6b737c;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.9;
}
.content-5{
    color: #211b31;
    font-weight: bolder; 
}

@media (max-width:900px) {
    .content-1{
        text-align: center;
        padding: 0 60px;
    }
    .underline {
        margin-left: 40%;
    }
    .creactive-env-img-body{
        width: 650px;
        margin: 0 auto;
    }
}

@media (max-width:500px) {
    .content-1{
        margin-top: -20px;
        padding: 0 30px;
    }
}