.s2_ua_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.s2_ua_wrapper{
    width: 70%;
}

.s2_ua_heading{
color: rgb(23, 110, 137);
margin-bottom: 1rem;
}

.s2_ua_para{
    font-size: 18px;
}