.heading-text { 
  color: rgb(23, 110, 137);
}
.heading-text-0{
    color: rgb(23, 110, 137);
    margin-top: 2rem;
}
.para-content-ac{
    font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  margin-top: 12px;
  font-size: 17px;
}
.DescriptionContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.DescriptionContent-1{
  padding-top: 50px;
  padding-bottom: 50px;
}