   .section2_left_Heading{
    padding-left: 25px;
    color:  rgb(23, 110, 137);
    font-size: 2rem;
    font-weight: 600;
  }
  
  .section2_right_Heading{
    padding-left: 20px;
    color: rgb(23, 110, 137);
    font-size: 2rem;
    font-weight: 600;
  }
  
  .section2_container{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .section2_left_list li{
    padding-top: 2%;
  }
  
  .section2_right_list li{
    padding-top: 2%;
  }
  
  .section2_left{
    padding-right: 2%;
    /* margin: auto; */
    padding-left: 2%;
  }
  .section2_left_para{
    margin-left: 1rem;
  }
  
  .section2_right{
    /* padding-right: 5%; */
    /* margin: auto; */
    /* padd */
    /* padding-left: 6%; */
  }

  @media screen and (max-width:600px) {
    .section2_container{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .section2_left_Heading{
      padding: 5px;
      color:  rgb(23, 110, 137);
      font-size: 1.5rem;
      font-weight: 600;
    }
    .section2_right_Heading{
      padding: 5px;
      color: rgb(23, 110, 137);
      font-size: 1.5rem;
      font-weight: 600;
    }
    
  }