*{
    margin: 0%;
    padding: 0%;
}

.section4_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.section4_img1{
    height: 25rem;
    width: 30rem;
}

.section4_img2{
    height: 25rem;
    width: 30rem;
}

@media (max-width: 958px){
    .section4_img1{
        height: 15rem;
        width: 20rem;
    }
    
    .section4_img2{
        height: 15rem;
        width: 20rem;
    }
}

@media (max-width: 658px){

    .section4_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    
    }

    .section4_img1{
        height: 15rem;
        width: 20rem;
    }
    
    .section4_img2{
        height: 15rem;
        width: 20rem;
    }
}

@media (max-width: 300px){
    .section4_img1{
        height: 10rem;
        width: 15rem;
    }
    
    .section4_img2{
        height: 10rem;
        width: 15rem;
    }
}