.main-container {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.img-container img {
  width: 100%;
  height: 556px;
  object-fit: cover;
}

.img-container .blue-overlay {
  position: absolute;
  top: 57px;
  left: 0px;
  right: 0px;
  height: 500px;
  max-width: 50%;
  background-color: rgba(0, 39, 74, 0.549);
  z-index: 1;
}

.text-container {
  position: absolute;
  padding: 10px;
  right: 50%;
  left: 32px;
  top: 15rem;
  max-width: 100%;
  color: rgb(255, 255, 255);
  z-index: 9;
}

.text-container-content h1 {
  padding: 10px;
  font-weight: 600;
}
.text-container-description h6{
  line-height: 20px;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  .img-container .blue-overlay {
    max-width: 100%;
    right: 0px;
    height: 500px;
  }
  .text-container {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .text-container {
    margin-top: -100px;
    overflow: hidden;
    width: 90%;
    height: 50%;
  }
}
