.home_aboutus_main {
  background-color: rgba(240, 240, 240, 0.114);
}

.home_about_wrapper {
  margin: 0rem 10rem 0rem 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home_abt_about{
  margin-bottom: 1rem;
}

.home_abt_img {
  height: 500px;
  width: 500px;
}

.home_abt_left {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
}

.home_abt_para {
  margin-top: 10px;
  font-size: 15px;
}

.home_abt_heading {
  color: #63645E;
}

@media screen and (max-width: 1100px) {
  .home_about_wrapper {
    margin: 0rem 2rem 0rem 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .home_abt_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .home_about_wrapper {
    margin: 0rem 0rem 0rem 0rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  .home_abt_para {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .home_abt_right {
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */
  }

  .home_abt_img {
    height: 300px;
    width: 300px;
  }
}
