.iod_s5_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iod_s5_wrapper{
    width: 80%;
}

.iod_s5_scn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iod_s5_img{
    /* border: 1px solid red; */
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iod_s5_heading{
    color: rgb(23, 110, 137);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .iod_s5_img{
        /* border: 1px solid red; */
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .iod_s5_text{
        text-align: center;
    }
}